.divNewsletter {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.divNewsletter input {
  width: 30rem;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #353535;
  border-radius: 8px;
  color: #353535;
  padding-left: 30px;
}
.divNewsletter button {
  border-radius: 8px;
  margin-left: -15px;
}
@media (max-width: 991px) {
  .divNewsletter {
    flex-direction: column;
    gap: 0;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }

  .divNewsletter input {
    max-width: 15rem;
  }
  .divNewsletter button {
    margin-left: 20px;
  }
}
