@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: #fafafa;
}
body ul {
  padding: 0;
}
body li {
  list-style: none;
}
body li a {
  color: #353535;
  text-decoration: none;
  cursor: pointer;
}
